<div class="row spacer"></div>
<div class="col-md-1"><% if reply.user.try(:avatar) == nil then %>
    <%= image_tag "/assets/fallback/small_small_avatar.png", class: "border-radius-50", id: "image-comment"  %></span>
<% else %>
  <%= image_tag reply.user.avatar.small_small.url, class: "border-radius-50", id: "image-comment" %>
<% end %>
</div>
<div class="col-md-11">
  <span class="capitalize2">
    <% if reply.user.try(:name) || reply.user.try(:surname) == nil then %>
      <b>Deleted User</b>
    <% else %>
      <b><%= reply.user.name %>&nbsp<%= reply.user.surname %></b></span>&nbsp 
        <%= time_ago_in_words(reply.created_at) %> ago 
       <% end %>
  <div class="border-bot-dgrey">
    <p id= "whiteboard-content "  ><%= reply.content %></p>
    <% if @ticket.status == false %>
      <% if can? :update, reply%>
        <%= link_to 'Edit', edit_ticket_reply_path(reply.ticket_id, reply)  %>
      <% end %>
      <% if can? :destroy, reply%>
        <%= link_to 'Delete', ticket_reply_path(reply.ticket_id, reply), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    <% end %>
    <div class="spacer"></div>
  </div>
</div>