<p id="notice"><%= notice %></p>
<div class="row bg-white margin-lr-0 overflow">
  <div class="col-md-12">
    <div class=" row properties-nav nav-bg">
      <div class="col-md-12" >
        <h1 class="h3white centr-title capitalize">My Flats</h1>
      </div>
    </div>
    
    
    <div class="spacer"></div>
    <div class="col-md-12">
      
      <table class = "table table-bordered table-striped">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>User Role </th>
            <th>Properties</th>
            <th>Flats</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.avatar.thumb.url %></td>
              <td><%= user.name %></td>
              <td><%= user.surname %></td>
              <td><%= user.email %></td>
              <td>
                <%= user.role.try :name %>
              </td>
              <td>
                <%= user.properties.size %>
                <%= link_to cpanel_posts_path(user) do %><u>
                    Show </u>
                <% end %>
              </td>
              <td>
                <%= user.flats.size %>
                <%= link_to cpanel_postflats_path(user) do %><u>
                    Show </u>
                <% end %>
              </td>
              <td class="text-center">
                
                  
                    <% if can? :update, user%>
                      <%= link_to (edit_user_path(user)), class: "btn nav-bg white border0 lblue-hover" do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
                    <% end %>
                    <% if can? :destroy, user%>
                      <%= link_to (cpanel_path(user)), method: :delete, class: "btn nav-bg white border0 lblue-hover", data: {confirm: "Are you sure you want to delete this user?"} do %>
                        <span class="glyphicon glyphicon-trash"></span>
                      <% end %>
                    <% end %>
                 
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>