<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="spacer"></div>
    <div class="row bg-white margin-lr-0 ">
      <div class="col-md-12 ">
        <div class=" row properties-nav nav-bg ">
          <div class="col-md-12" >
            <h2 class="h3white centr-title capitalize">Sign Up</h2>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="spacer"></div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-8">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-main-title text-center dblue-border-bot">
                    <h5>User</h5>
                  </div>
                  <span class="form-title"><%= f.label 'Name *' %></span>
                  <span class="form-field pad-top-forms"><%= f.text_field :name, required: true%></span>
                </div>
                <div class="col-md-12">
                  <span class="form-title"><%= f.label 'Surname *' %></span>
                  <span class="form-field pad-top-forms"><%= f.text_field :surname, required: true %></span>
                </div>
                <div class="col-md-12">
                  <span class="form-title"><%= f.label 'Email *' %></span>
                  <span class="form-field pad-top-forms"><%= f.email_field :email, required: true %></span>
                </div>
                <div class="col-md-12">
                  <span class="form-title"><%= f.label 'Password *' %></span>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <span class="form-field pad-top-forms"><%= f.password_field :password, autocomplete: "off", required: true %></span>
                </div>
                <div class="col-md-12">
                  <span class="form-title"><%= f.label 'Confirm Password *' %></span>
                  <span class="form-field pad-top-forms"><%= f.password_field :password_confirmation, autocomplete: "off", required: true %></span>
                </div>
                <div class="col-md-12">
                  <div class="form-main-title text-center dblue-border-bot">
                    <h5>Avatar</h5>
                  </div>
                  <span class="form-title"><%= f.label 'User avatar'%></span>
                  <span class="form-title  "><%= f.label :image do %></span>
                    <span class="form-title pull-right file-input"><%= f.file_field :avatar  %></span>
                    <span class="form-field "><%= f.hidden_field :avatar_cache %></span>
                  <% end %>
                  <div class="spacer2"></div>
                </div>
                <div class="col-md-12 text-center spacer">
                  <%= f.button class: "btn btn-lg nav-bg new-btn white border0 lblue-hover btn-ticket" do %>
                    <span class="glyphicon glyphicon-user"></span><span class="pad-r-1">Create User</span>
                  <% end %>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-title">
                    <h4><%= render "devise/shared/links" %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>