<div class="col-md-8 col-md-offset-2 spacer">
  <%= form_for :conversation,  url: :conversations, html: { class: "" } do |f| %>
    <div class="col-md-12">
      <span class="form-title"><%= f.label 'To:' %></span>
      <div class=" pad-top-forms "><%= f.select :recipients,(User.all - [current_user]).collect {|p| [p.name + " " + p.surname, p.id ]  } , {}, { multiple: true ,required: true, class: "chosen-it form-control" } %></div>
    </div>
    <div class="col-md-12">
      <span class="form-title"><%= f.label 'Subject:' %></span>
      <div class=" pad-top-forms messages-form"><%= f.text_field :subject, required: true %></div>
    </div>
    <div class="col-md-12">
      <span class="form-title"><%= f.label 'Message:' %></span>
      <div class="pad-top-forms messages-form"><%= f.text_area :body, required: true, rows: 5, class: "form-textarea" %></div>
    </div>
    <div class="col-md-12 text-center">
      <%= f.button class: "btn btn-lg nav-bg new-btn white border0 lblue-hover btn-ticket" do %>
        <span class="glyphicon glyphicon-send"></span><span class="pad-r-1">Send Message</span>
      <% end %>
    </div>
  <% end %>
</div>