<div class="spacer"></div>
<div class="row bg-white margin-lr-0 ">
  <div class="col-md-12 ">
    <div class=" row properties-nav nav-bg ">
      <div class="col-md-12" >
        <h2 class="h3white centr-title capitalize">Edit Flat</h2>
      </div>
    </div>
  </div>
  <% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= form_for ([@property, @flat]) do |f| %>
    <% if @flat.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>
        <ul>
          <% @flat.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-lg-6">
        <div class="spacer2"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-main-title text-center dblue-border-bot">
              <h5>Flat Owner</h5>
            </div>
            <span class="form-title"><%= f.label "Name *" %></span>
            <span class="form-field pad-top-forms"><%= f.text_field :name, required: true, :value => current_user.name%></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'Surname *' %></span>
            <span class="form-field pad-top-forms"><%= f.text_field :surname, required: true, :value => current_user.surname %></span>
          </div>
          <div class="col-md-12">
            <div class="form-main-title text-center dblue-border-bot">
              <h5>Flat Details</h5>
            </div>
            <span class="form-title"><%= f.label 'House Number *' %></span>
            <span class="form-field pad-top-forms"><%= f.text_field :housenr, required: true %></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'Flat Number *' %></span>
            <span class="form-field pad-top-forms"><%= f.text_field :flat_nr, required: true %></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'Move in date' %></span>
            <span class="form-field pad-top-forms"><%= f.date_field(:join_date, max: Date.today,placeholder: "DD/MM/YYYY") %></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'Flat Status *' %></span>
            <span class="form-field pad-top-forms"><%= f.select :status, ['Not Specified','Rented', 'Free', 'Owned', 'For Sale', 'For Rent']%></span>
          </div>
          <div class="col-md-12">
            <div class="form-main-title text-center dblue-border-bot">
              <h5>Contacts</h5>
            </div>
            <span class="form-title"><%= f.label 'Email *' %></span>
            <span class="form-field pad-top-forms"><%= f.email_field :email,:value => current_user.email, required: true %></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'Home Phone Number' %></span>
            <span class="form-field pad-top-forms"><%= f.telephone_field :phone %></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'Mobile Phone Number' %></span>
            <span class="form-field pad-top-forms"><%= f.telephone_field :phone %></span>
          </div>
          <div class="col-md-12">
            <div class="form-main-title text-center dblue-border-bot">
              <h5>Other</h5>
            </div>
            <span class="form-title"><%= f.label 'Relatives' %></span>
            <span class="form-field pad-top-forms"><%= f.text_field :relatives %></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'More Persons' %></span>
            <span class="form-field pad-top-forms"><%= f.text_field :morepersons %></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'Caretaker' %></span>
            <span class="form-field pad-top-forms"><%= f.text_field :caretaker %></span>
          </div>
          <div class="col-md-12">
            <span class="form-title"><%= f.label 'More Description' %></span>
            <span class="pad-top-forms"><%= f.text_area :content , rows: 5, class: "form-textarea" %></span>
          </div>
          
        </div>
        <div class="col-md-12 text-center">
          <div class="spacer"></div>
          <%= f.button class: "btn btn-lg nav-bg new-btn white border0 lblue-hover btn-ticket" do %>
            <span class="glyphicon glyphicon-send"></span><span class="pad-r-1">Save Changes</span>
          <% end %>
          <div class="spacer"></div>
        </div>
        <div class="col-md-12 text-center">
          <div class="spacer"></div>
          <%= link_to (property_flat_path(@flat.property_id, @flat)), class: "btn btn-lg nav-bg new-btn white border0 lblue-hover btn-ticket", method: :delete , data: {confirm: "Are you sure?"} do %>
            <span class="glyphicon glyphicon-trash"></span><span class="pad-r-1">Delete Flat</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="spacer"></div>
</div>
<div class="spacer"></div>