<div class="spacer"></div>
<div class="row bg-white margin-lr-0">
  <div class="col-md-12 col-xs-12">
    <div class=" row properties-nav nav-bg">
      <div class="col-md-8 col-xs-12" >
        <h2 class="h3white centr-title">PROPERTY DETAILS</h2>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="col-md-12">
    <table class = "table table-bordered table-striped">
      <thead>
        <tr>
          <th>House Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Property Owned by</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @property.housename %></td>
          <td><%= @property.address %></td>
          <td><%= @property.zipcode %> <%= @property.city %></td>
          <td><%= @property.name %> <%= @property.surname %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="spacer"></div>
<div class="row bg-white margin-lr-0">
  <div class="col-md-12 col-xs-12">
    <div class=" row properties-nav nav-bg">
      <div class="col-md-8 col-xs-12" >
        <h2 class="h3white centr-title">FLAT DETAILS</h2>
      </div>
      <div class="col-md-2 col-xs-12">
        <% if can? :update, @flat%>
          <div class=" new-prop-btn text-center"><%= link_to edit_property_flat_path, class:"btn btn-lg new-btn border0" do %>
              <span class="glyphicon glyphicon-pencil"></span><span class="pad-r-1">Edit</span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-md-2 col-xs-12">
        <% if can? :update, @flat%>
          <div class=" new-prop-btn text-center "><%= link_to property_flat_path, method: :delete, class:"btn btn-lg new-btn border0" do %>
              <span class="glyphicon glyphicon-trash"></span><span class="pad-r-1">Delete</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="spacerem"></div>
    <div class="row">
      <div class="col-md-12">
        <table class = "table table-bordered table-striped">
          <tbody>
            <tr>
              <th>House name.</th>
              <td><%= @flat.housenr %></td>
            </tr>
            <tr>
              <th>Flat Nr.</th>
              <td><%= @flat.flat_nr %></td>
            </tr>
            <tr>
              <th>Name</th>
              <td><%= @flat.name %> <%= @flat.surname %></td>
            </tr>
            <tr>
              <th>Phone</th>
              <td><%= @flat.phone %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= @flat.email %></td>
            </tr>
            <tr>
              <th>Move in date</th>
              <td><%= @flat.join_date.try(:strftime, "%d-%m-%Y") %></td>
            </tr>
            <tr>
              <th>Relatives</th>
              <td><%= @flat.relatives %></td>
            </tr>
            <tr>
              <th>Caretaker</th>
              <td><%= @flat.caretaker %></td>
            </tr>
            <tr>
              <th>More Persons</th>
              <td><%= @flat.morepersons %></td>
            </tr>
            <tr>
              <th>Description</th>
              <td><%= @flat.content %></td>
            </tr>
            <tr>
              <th>Flat Status</th>
              <td><%= @flat.status %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
<div class="row bg-white margin-lr-0">
  <div class="col-md-12 col-xs-12">
    <div class=" row properties-nav nav-bg">
      <div class="col-md-8 col-xs-12" >
        <h2 class="h3white centr-title">LAST OWNER HISTORY</h2>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="col-md-12">
    <table class = "table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Move in Date</th>
          <th>Move out Date</th>
        </tr>
      </thead>
      <tbody>
        <% @flat.ownerhistories.each do |ownerhistory| %>
          <tr>
            <td><%= ownerhistory.name %></td>
            <td><%= ownerhistory.surname %></td>
            <td><%= ownerhistory.email %></td>
            <td><%= ownerhistory.move_in_date.try(:strftime, "%d-%m-%Y") %></td>
            <td><%= ownerhistory.move_out_date.try(:strftime, "%d-%m-%Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="spacer"></div>
    <%= form_for ([@property, @flat, @flat.ownerhistories.build()]) do |f| %>
      <table class = "table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Move in Date</th>
            <th>Move out Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= f.text_field :name ,required: true, :value => @flat.try(:name) %></td>
            <td><%= f.text_field :surname ,required: true, :value => @flat.try(:surname) %></td>
            <td><%= f.email_field :email ,required: true, :value => @flat.try(:email) %></td>
            <td><%= f.date_field :move_in_date ,required: true, :value => @flat.try(:join_date).try(:strftime, "%d-%m-%Y") %></td>
            <td><%= f.date_field :move_out_date, required: true, :value => Date.today.try(:strftime, "%d-%m-%Y") %></td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12 text-center">
      <%= f.submit "Add New Owner", class: "btn btn-lg nav-bg white border0 lblue-hover", data: {confirm: "Are you sure?"} %>
      <div class="spacer"></div>
      </div>

    <% end %>

  </div>

</div>
<br />
<div class="row" style="background-color:#F0F0F0">
  <div class="col-md-12 col-lg-12" style="text-align:center">
    <h3>Anything broken or you have a complain?</h3>
    <h4>Contact our support!</h4>
    <% if can? :update, Ticket %>
      <%= link_to 'Submit ticket',new_property_flat_ticket_path(@flat.property_id, @flat),class: "btn btn-info", style: "margin-bottom:2%" %>
    <% end %>
  </div>
</div>
<br />
<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <th>Problem</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Date of Fix</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @flat.mainhistories.each do |mainhistory| %>
      <tr>
        <td><%= mainhistory.problem %></td>
        <td><%= mainhistory.name %></td>
        <td><%= mainhistory.surname %></td>
        <td><%= mainhistory.fix_date.try(:strftime, "%d/%m/%Y") %></td>
        <td>
          <%= link_to 'Edit', edit_property_flat_mainhistory_path(@property,@flat,mainhistory), class: "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create, Flat %>
  <%= link_to 'Add New fix', new_property_flat_mainhistory_path(@property,@flat),class: "btn btn-info" %>
<% end %>
<br />
<h3><%= link_to 'Back', property_path(@flat.property_id) %></h3>
</div>