<p id="notice"><%= notice %></p> 
<h1>Housing</h1>

<div style="margin-bottom:5%"><%= link_to 'New Property', new_property_path, class: "btn btn-default" %>
</div>
<br>

<% @properties.each do |property| %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6" style="border:1px solid black">
      <%= link_to (property_path(property)) do %>
        
        <h3 style="padding-left:15%">Address:  <%= property.address %>  </h3>
        <h3 style="padding-left:15%" >City: <%= property.content %></h3> 
        <h4 style="padding-left:30%"> Owned by:  <%= property.name %> 
      <% end -%>
      </div>  
    </div>
  </div>
<% end %>

