<p id="notice"><%= notice %></p> 
<div style="border:1px solid black"><h2><%= @property.content %></h2>
<h3>Property owned by: <%= @property.user.name %> </s> <%= @property.user.surname %></h3>

<% if can? :update, @property%>
  <%= link_to 'Edit', edit_property_path(@property) %> 

<% end %>

</div>
<% if @property.flats.any? %>
  <h2>Flats</h2>
  <% @property.flats.each do |flat| %>  
    <div style="border:1px solid black">
      <%= link_to (property_flat_path(flat.property_id,flat)) do %>   
        <h3>Flat nr: <%= flat.flat_nr %></h3>
        <%= link_to 'Delete', property_flat_path(flat.property_id, flat), method: :delete %>
        <br />
      <% end %> 
    </div>    
  <% end %>
<% end %>

<br />
<h3><%= link_to 'Add New flat', new_property_flat_path(@property) %> </h3>

<h3><%= link_to 'Back', properties_path %></h3>
