<p id="notice"><%= notice %></p> 
<div class="row">
  <div class="col-md-6 col-lg-6" >

  <% if can? :update, @property%>
  <h3 class="pull-right"><%= link_to 'Edit', edit_property_path(@property) %> </h3>
<% end %>
<h2><%= @property.content %></h2>
<h4>Property owned by: <%= @property.user.name %> </s> <%= @property.user.surname %></h4>




<h2 style="margin-top:10%">Flats</h2>
<div class="btn btn-default" style="margin-bottom:5%"><%= link_to 'Add New flat', new_property_flat_path(@property) %> </div>
<% if @property.flats.any? %>
  
  
  <% @property.flats.each do |flat| %>        
      <%= link_to (property_flat_path(flat.property_id,flat)) do %>  
      <div style="border: 1px solid black"> 
        <h3>Flat nr: <%= flat.flat_nr %></h3>
        <%= link_to 'Delete', property_flat_path(flat.property_id, flat), method: :delete %>
        <%= link_to 'Edit', edit_property_flat_path(flat.property_id,flat) %>
        <br />
        </div>
      <% end %>     
  <% end %>
  
<% end %>
</div>
  </div>
<br />


<h3><%= link_to 'Back', properties_path %></h3>
