<h1>Editing Flat</h1>

<%= form_for ([@property, @flat]) do |f| %>
	<%= f.label :Owners_Name%>
	<%= f.text_field :name %>
	<br />
	<%= f.label :Apartment_number%>
	<%= f.text_field :flat_nr %>
	<br />
	<%= f.label :Caretaker%>
	<%= f.text_field :caretaker %>
	<br />
	<%= f.label :Description %>
    <%= f.text_area :content %>
    <br />
    <br />
    <%= f.label :Move_in_date %>
    <i>(dd/mm/yyyy)</i>

    <br/>
    <%= f.date_field(:join_date, max: Date.today) %>

   	<br />
    <%= f.submit  %>	
<% end %>

<div class="btn btn-danger">
	<% if can? :update, @flat%>
	          <%= link_to 'Delete', property_flat_path(@flat.property_id, @flat), method: :delete %>
	<% end %>
</div>
<br />
<br/>
<%= link_to 'Back', property_path(@flat.property_id) %>
