<h2>Flat nr: <%= @flat.flat_nr %><br />
Owner: <%= @flat.name %><br />
Caretaker: <%= @flat.caretaker %><br />
Description: <%= @flat.content %><br />
</h2>


<h3><%= link_to 'Back', properties_path %></h3>