<p id="notice"><%= notice %></p> 
<h1>Tickets</h1>
<div style="padding-bottom:2%;">
	<% if can? :read, Ticket %>
		<%= link_to 'All', tickets_path, class: "btn btn-default" %>
		<%= link_to 'Complains', tickets_complain_path, class: "btn btn-default" %>
		<%= link_to 'Maintenance', tickets_maintenance_path, class: "btn btn-default" %>
		<%= link_to 'Other', tickets_other_path, class: "btn btn-default" %>
	<% end %>
</div>
<% if @tickets.any? %>
<table class = "table table-bordered table-striped">

   <thead>
      <tr>
      	 <th>Date</th>
         <th>Address</th>
         <th>Flat Nr.</th>
         <th>Name</th>
         <th>Section</th>
         <th>Status</th>
         <% if can? :update, Ticket%>
         	<th>Show</th>
         <% end %>
         <% if can? :destroy, Ticket%>
         	<th>Delete</th>
         <% end %>
         
      </tr>
   </thead>
   <tbody>

	   <% @tickets.each do |ticket| %>
	   <% if can? :update, ticket %>
		<tr>
			<td><%= ticket.created_at.try(:strftime, "%d/%m/%Y")  %>&nbsp <%= ticket.created_at.try(:strftime, "%H:%M")%></td>
		    <td><%= ticket.address %></td>
		    <td><%= ticket.flat_nr %></td>
		    <td><%= ticket.name %>&nbsp<%= ticket.surname %></td>
		    <td><%= ticket.selection %></td>
		   
		    <td>
		    <%if ticket.status == false %>
		    	<b>Open</b>
		    <% else %>
		    	<b>Closed</b>
		    <% end %>
		    </td>
		    <% if can? :update, ticket%>
		    <td><%= link_to 'Show', ticket_path(ticket), class: "btn btn-success" %></td>
		    <% end %>
		    <% if can? :destroy, ticket%>
		    <td><%= link_to 'Delete', ticket_path(ticket), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
		    </td>
		    <% end %>
		</tr>      
		 <% end %>

	  <% end %>
	 
  </tbody>

</table>
		
<% end %>

<% if @user.orderby == "address" %>
	<h1></h1>
<% end %>

<!--	<%= link_to "Order by date desc", tickets_order_path, class: "btn btn-success"%>  -->

	
