<p id="notice"><%= notice %></p>
<div class="row bg-white margin-lr-0">
  <div class="col-md-12 col-xs-12">
    <div class=" row properties-nav nav-bg">
      <div class="col-md-12 col-xs-12" >
        <h2 class="h3white centr-title">ALL FLATS</h2>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <% if @flats.any? %>
      <div class="col-md-12">
        <div class="col-md-12">
          <table class = "table table-bordered table-striped">
            <thead>
              <tr>
                <th>House Nr.</th>
                <th>Flat Nr.</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Move in Date</th>
                <th>Staus</th>
              </tr>
            </thead>
            <tbody>
              <% @flats.each do |flat| %>
                <% if can? :update, flat %>
                  <tr data-link="<%= property_flat_path(flat.property_id,flat)%>">
                    <td><%= flat.housenr %></td>
                    <td class="capitalize"><%= flat.flat_nr %></td>
                    <td class="capitalize2"><%= flat.name %></td>
                    <td class="capitalize2"><%= flat.surname %></td>
                    <td><%= flat.join_date.try(:strftime, "%d/%m/%Y") %></td>
                    <td><%= flat.status %></td>
                  </tr>
                <% else %>
                
                  <tr>
                    <td><%= flat.housenr %></td>
                    <td class="capitalize"><%= flat.flat_nr %></td>
                    <td class="capitalize2"><%= flat.name %></td>
                    <td class="capitalize2"><%= flat.surname %></td>
                    <td><%= flat.join_date.try(:strftime, "%d/%m/%Y") %></td>
                    <td><%= flat.status %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        
           

          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
</div>