<p id="notice"><%= notice %></p>
<div class="row bg-white margin-lr-0 ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class=" row properties-nav nav-bg ">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9" >
        <h2 class="h3white centr-title center-sm">PROPERTIES</h2>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <% if can? :create, Property%>
          <div class="pull-md-right pull-lg-right new-prop center-sm">
            <%= link_to (new_property_path), class:"btn btn-lg new-btn border0" do %>
              <span class="glyphicon glyphicon-plus"></span><span class="pad-r-1">Add New Property</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="houses" class="row overflow">
      <% @properties.each do |property| %>
        <div class="spacer"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 spacerem prop-img-cont-small">
          <div class="border-dgrey">
            <div class="img-responsive " id="prop-img-small"><span class="prop-user-avatar pull-right ">
                <% if property.user.try(:avatar) == nil then %>
                  <%= image_tag "/assets/fallback/small_small_avatar.png", class: "border-radius-50 thumb-border" %></span>
                <% else %>
                  <%= image_tag property.user.avatar.small_small.url, class: "border-radius-50 thumb-border" %></span>
              <% end %>
              <%= link_to property_path(property) do %>
                <span class="property-img-show "><%= image_tag property.property_image.small.url %></span>
              <% end %>
            </div>
            <div class="property-house  text-center nav-bg white">
              <h4 class="capitalize2"><%= property.housename%></h4>
            </div>
            <div class="row  margin-lr-0">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="prop-text-small">
                <div class="text-left">
                  <h5><span class="glyphicon glyphicon-home dblue"></span><span class="capitalize2"><%= property.address %></span></h5>
                </div>
                <div class="text-left ">
                  <h5><span class="glyphicon glyphicon-globe dblue"></span><span><%= property.zipcode %></span> <span class="capitalize2"><%= property.city %></span></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer"></div>
      <% end %>
    </div>
    <div class="spacer"></div>
  </div>
</div>
<div class="spacer"></div>