<p id="notice"><%= notice %></p>
<div class="spacerem"></div>
<div class="row bg-white margin-lr-0">
  <div class="col-md-12 col-xs-12">
    <div class=" row properties-nav nav-bg">
      <div class="col-md-9 col-xs-12" >
        <h2 class="h3white centr-title capitalize">Inbox</h2>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class=" new-prop-btn text-center "><%= link_to (new_conversation_path), class:"btn btn-lg new-btn border0" do %>
            <span class="glyphicon glyphicon-plus"></span><span class="pad-r-1">New Message</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if is_conversation == false %>
    <%= render 'mailbox/folders' %>
  <% end %>
  <div class="col-md-12">
    <div class="col-md-12 spacerbot">
      <% if is_conversation %>
        <%= render 'conversations/form' %>
      <% else %>
        <%= render partial: 'conversations/conversation', collection: messages %>
      <% end %>
    </div>

  </div>
</div>
