<div class="spacer"></div>
<div class="row bg-white margin-lr-0" >
  <div class="col-md-12 col-xs-12 " id="flat-details">
    <div class=" row properties-nav nav-bg">
      <div class="col-md-8 col-xs-12" >
        <h2 class="h3white centr-title">TICKET #<%= @ticket.id %> - <%= @ticket.subject%></h2>
      </div>
      <div class="col-md-2 col-xs-12">
        <% if @ticket.status == false %>
          <% if can? :update, @ticket%>
            <div class=" new-prop-btn text-center"><%= link_to edit_ticket_path, class:"btn btn-lg new-btn border0" do %>
                <span class="glyphicon glyphicon-pencil"></span><span class="pad-r-1">Edit</span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-2 col-xs-12">
        <% if can? :update, @ticket%>
          <div class=" new-prop-btn text-center "><%= link_to ticket_path, method: :delete, class:"btn btn-lg new-btn border0" do %>
              <span class="glyphicon glyphicon-trash"></span><span class="pad-r-1">Delete</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="spacer"></div>
    <div style="margin-bottom:1%">
      Created by <span class="capitalize2"><b><%= current_user.name %> &nbsp <%= current_user.surname %></b></span> &nbsp 
	   <%= time_ago_in_words(@ticket.created_at) %> ago 
	</div>
    <div class="spacer"></div>
    <div class="row ">
      <div class="col-md-12 ">
      <div class="col-md-6 pad-l-0 border-bot-dgrey">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>Section</th>
              <td><%= @ticket.selection %></td>
            </tr>
            <tr>
              <th>Status</th>
              <%if @ticket.status == false %>
                <td>
                  Open
                </td>
              <% else %>
                <td>
                  Closed
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

      	<div class="col-md-12">
        <div class="col-md-6 spacer border-bot-dgrey pad-l-0">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>Name</th>
              <td class="capitalize2"><%= @ticket.name %></td>
            </tr>
            <tr>
              <th>Surname</th>
              <td class="capitalize2"><%= @ticket.surname %></td>
            </tr>
            <tr>
              <th>Phone</th>
              <td><%= @ticket.phone %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= @ticket.email %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6 spacer pad-r-0">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>Address</th>
              <td class="capitalize2"><%= @ticket.address %></td>
            </tr>
            <tr>
              <th>Flat Nr.</th>
              <td class="capitalize"><%= @ticket.flat_nr %></td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
	
      
      <div class="col-md-12">
        <table class = "table table-bordered table-striped">
          <tbody>
            <th class="nav-bg white">Ticket Description</th>
            <tr>
              <td><%= @ticket.content %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
<div class="row bg-white margin-lr-0">
  <div class="col-md-12 col-xs-12">
    <div class=" row properties-nav nav-bg">
      <div class="col-md-12 col-xs-12" >
        <h2 class="h3white centr-title capitalize">Comments</h2>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
   
    <div class="col-md-12 padding-lr-0 " >
      <%= render @ticket.replies %>
    </div>
    <div class="spacer"></div>
    <% if @ticket.status == false %>
      <% if can? :update, @ticket%>
        <%= form_for ([@ticket, @ticket.replies.build]) do |f| %>
          <div class="col-md-12 bg-main spacer">
            <div class="row  spacer">
              <div class="col-md-1"><%= image_tag current_user.avatar.small_small.url, class: "border-radius-50" %></div>
              <div class="col-md-11"><%= f.text_area :content, rows: "3", placeholder: "Write a comment...", class: "comment-box" %><br/>
                <%= submit_tag "Comment", class: "btn nav-bg white border0 pull-right lblue-hover" %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="spacer"></div>
  </div>
  <div class="spacer"></div>
</div>
<div class="spacer"></div>
<div class="row bg-white margin-lr-0">
  <div class="spacer"></div>
  <div class="col-md-12 col-lg-12 text-center" id="contact-sup">
  
    <% if can? :update, @ticket%>
      <% if @ticket.status == false %>
      <div class="text-center ticket-btn">
      <span class="ticket-txt ">If you are happy with answer click </span>
        <%= link_to (flop_ticket_path(@ticket)),class: "btn btn-lg nav-bg new-btn white border0 lblue-hover" do %>
          <span class="glyphicon glyphicon-send"></span><span class="pad-r-1">Close Ticket</span>
        <% end %>
      
      </div>
      <% end %>
    <% end %>
    <% if can? :update, @ticket%>
      <% if @ticket.status == true %>
      <div class="text-center ticket-btn">
        <span class="ticket-txt">This ticket has been closed!<br/> Click </span>
      
        <%= link_to (flop_ticket_path(@ticket)),class: "btn btn-lg nav-bg new-btn white border0 lblue-hover" do %>
          <span class="glyphicon glyphicon-send"></span><span class="pad-r-1">Reopen Ticket</span>
        <% end %>
        <span class="ticket-txt"> and continue conversation.
        Or create a 
        <%= link_to (new_ticket_path),class: "btn btn-lg nav-bg new-btn white border0 lblue-hover" do %>
          <span class="glyphicon glyphicon-plus"></span><span class="pad-r-1">New Ticket</span>
        <% end %></div>
      <% end %>
    <% end %>
    <div class="spacer"></div>
  </div>
</div>
<div class="spacer"></div>