<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="spacer"></div>
    <div class="row bg-white margin-lr-0 ">
      <div class="col-md-12 ">
        <div class=" row properties-nav nav-bg ">
          <div class="col-md-12" >
            <h2 class="h3white centr-title capitalize">Sign In</h2>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="spacer2"></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 col-md-offset-2  col-xs-offset-2 col-sm-offset-2 col-lg-offset-2 ">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 col-md-offset-2 col-xs-offset-2 col-sm-offset-2 col-lg-offset-2">
                  <span class="form-title"><%= f.label 'Email ' %></span>
                  <span class="form-field pad-top-forms"><%= f.email_field :email, required: true %></span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 col-md-offset-2 col-xs-offset-2 col-sm-offset-2 col-lg-offset-2">
                  <span class="form-title"><%= f.label 'Password' %></span>
                  <span class="form-field pad-top-forms"><%= f.password_field :password, autocomplete: "off", required: true %></span>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 col-md-offset-4  col-xs-offset-6 col-sm-offset-6 col-lg-offset-5">
                  <% if devise_mapping.rememberable? %>
                    <span><%= f.check_box :remember_me  %></span>
                    <span class="form-title"><%= f.label 'Remember me' %></span>
                  <% end %>
                </div>
                <div class="col-md-12 text-center spacer">
                  <%= f.button class: "btn btn-lg nav-bg new-btn white border0 lblue-hover btn-ticket" do %>
                    <span class="glyphicon glyphicon-ok"></span><span class="pad-r-1">Sign In</span>
                  <% end %>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-title ">
                    <h4><%= render "devise/shared/links" %></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>